@using AvMonitor.Classes
@using AvMonitor.Data
@using Microsoft.EntityFrameworkCore
@{

   

}

@model TaskModel
@{
    ViewData["Title"] = "Tasks";
    //TODO: Привести в порядок формы
}

<div class="container-md">
    <h1>Все задачи пользователя @User.Identity?.Name</h1>
    @if (!db.GetAllTasksFromUser(new UserModel(@User.Identity?.Name)).Any())
    {
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">There is no tasks for @User.Identity?.Name</th>
                </tr>
            </thead>
        </table>
    }
    else {
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>CronExp</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in db.GetAllTasksFromUser(new UserModel(@User.Identity?.Name)))
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Path</td>
                    <td>@task.CronExp</td>
                    <td>@task.Description</td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>