@using AvMonitor.Classes
@using AvMonitor.Data
@using Microsoft.EntityFrameworkCore
@{

    var db = new DataBase(ViewData["dbContext"] as TaskDataContext);

}

@model TaskModel
@{
    ViewData["Title"] = "Tasks";
}

<div>
    <form method="post" asp-controller="Task" asp-action="Add">

        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Path"></label>
        <input asp-for="Path" />
        <span asp-validation-for="Path"></span>

        <label asp-for="CronExp"></label>
        <input asp-for="CronExp" />
        <span asp-validation-for="CronExp"></span>

        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>

        <input type="submit" value="Добавить" />
    </form>
</div>

<div>
    <form method="post" asp-controller="Task" asp-action="Delete">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <input type="submit" value="Удалить" />
    </form>
</div>

<!DOCTYPE html>
<html>
 <head>
   <title>Все задачи пользователя @User.Identity?.Name</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   <h1>Все задачи пользователя @User.Identity?.Name</h1>
   <table>
       <thead>
           <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Description</th>
                <th>CronExp</th>
           </tr>
       </thead>
       <tbody>
            @foreach(var task in db.GetAllTasksFromUser(new UserModel(@User.Identity?.Name))){
                <tr>
               <td>@task.Id</td>
                   <td>@task.Name</td>
                   <td>@task.Description</td>
                   <td>@task.CronExp</td>
            </tr>
           }
       </tbody>
   </table>
 </body>
</html>